.footer{
    background: hsl(229, 19%, 12%);
 
  
}
.foot1{
    color: #fff!important;
    margin-bottom: 1.5rem!important;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 70px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
   
}
.foot2{
    color: #fff;
    opacity: .8;
    font-size: 14px;
   
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
}
.foot3{
    color: #fff;
    opacity: .8;
    font-size: 14px;
  
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
}
.foot4{
    letter-spacing: 1px;
    color: #fff!important;
    text-transform: uppercase!important;
    margin-bottom: 1.5rem!important;
    font-size: 22px;
    line-height: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    margin-top: 70px;
  

}
.foothg{
    margin-top: 50px;
    color: white;
}
.foothg h6{
    max-width: 250px;
    color: #FFF;
    font-weight: lighter;
}
.jjjj{
  color: rgba(255,255,255,.5)!important;
}
.foothg1{
    margin-top: 50px;
    color: white;
}
.foothg1 h6{
    max-width: 250px;
    color: #FFF;
    font-weight: lighter;
}
.jjjj{
  color: rgba(255,255,255,.5)!important;
}

.quilink{
    letter-spacing: 1px;
    color: #fff!important;
    text-transform: uppercase!important;
    margin-bottom: 1.5rem!important;
    font-size: 22px;
    line-height: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    margin-top: 70px;
}
.list1{
    line-height: 40px;
    padding-left: 0;
    list-style: none;
    color: white;
}
.list1 li a {
    color: rgba(255,255,255,.5)!important;
}
.lasttxt{
    letter-spacing: 1px;
    color: #fff!important;
    text-transform: uppercase!important;
    margin-bottom: 1.5rem!important;
    font-size: 22px;
    line-height: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    margin-top: 70px;
}
.lasth61{
    color: rgba(255,255,255,.5)!important;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
}
.lasth611{
    color: #fff;
    margin-top: 50px;
}
.lasth612{
    color: #fff;
}
.bgblack{
    background: #111;
    margin-top: 30px;


}
.bgblack h5{
    padding: 10px 0px;
    color: rgba(255,255,255,.5)!important;
}
.footul{
    list-style-type: none;
}
.footul li {
    display: inline-flex;
    padding: 10px;
  
}
.footul li i{
    color: rgba(255,255,255,.5)!important;
}
.list1 li a:hover{
    text-decoration: none;

}
.footul li a:hover{
    text-decoration: none;

}
.nametxt:hover{
    text-decoration: none;

}
